@font-face {        /*definicion de la tipografia a usarse*/
    font-family: Dancing Script;
    src: url('fonts/Dancing_Script/DancingScript-Regular.ttf');
}

*{padding: 0px;margin: 0px;}        /*para tener en cero los padd y margin de todos los elementos para asi empezar de cero sin confucion*/

body{
    font-family: 'Dancing Script', cursive;
    background-color: #02010a;
    display: flex;
    justify-content: center;
}
#contenido{
    width: 100vw
}
/*-----------SECCTION HEADER----------------
--------------------------------------------*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b7989;
    border-radius: 15px 15px 0 0;    
}
header h1, header nav{
    padding: 20px 30px;
}
header h1{
    font-size: 35px;
    color: white;
    text-shadow:2px 2px #02010a;
}
header li{
    font-size: 25px;
    display: inline-block;
    list-style: none;
}
header a{
    color: white;
}
header a[href="#"]{
    text-decoration: none;
}
/*-----------SECCTION MAIN CENTRAL----------------
--------------------------------------------*/
#imagen_Central{
    background-color: #82c3a6;
    display: flex;
    justify-content: center;
}
#imagen_Central img{
    margin: 40px;
}
/*-----------SECCTION MAIN SECUNDARIA----------------
--------------------------------------------*/
#imagenes_Secundarias{
    background-color: #d5c75f;
    border-width: 1px 0;
    border-style: solid;
    border-color: #02010a;
    display: flex;
    justify-content: space-around;
}
#imagenes_Secundarias figure[id^="columna"]{
    text-align: center;
    margin: 40px 40px 0  40px;
}
#imagenes_Secundarias figcaption{
    margin: 0 0 40px  0;
}
#imagenes_Secundarias a{
    width: 40px;
    height: auto;
    text-decoration: none;
    color: red;
}
#columna1 a:hover img{
    animation-name: rotacionFoto;
    animation-duration: .4s;
}
#columna2 a:hover img{
    animation-name: translacionFoto;
    animation-duration: .4s; 
}

/*-----------SECCTION FOOTER----------------
--------------------------------------------*/
footer{
    background-color: #C6d5c5;
    border-radius: 0 0 9px 9px;
    display: flex;
}



@keyframes rotacionFoto {
    from {transform: rotate(0);}
    to {transform: rotate(10deg);}
}
@keyframes translacionFoto {
    0% {
        transform: translate(0px, 0px); 
    }
    100% { 
        transform: translate(20px, -5px); 
    }
}



@media only screen and (min-width: 900px){
    #contenido{
        max-width: 900px;
    }
}
@media only screen and (max-width: 900px){

}
